{% load humanize %}
<table class = "table">
    <tbody>
    {% for comment in comments %}
    <tr>
        <td name="comment_id" id="{{comment.id}}" style="display:none"></td>
        <td name="comment_content" class = "col-md-9">
            <p name="comment_text">{{comment.text|safe}}</p><br>
            <p class="list-item-description"><img src="{{ comment.user.profile.profile_picture.url }}" class="small-img img-circle"><b>&nbsp;{{comment.user.username}}</b> commented {{comment.date_time|naturaltime}}</p>
        </td>
        <td class = "col-md-4">
            <button name="toggle-btn" class="btn btn-info" data-tooltip="tooltip" title="Show/Hide replies"><span class="glyphicon glyphicon-comment">&nbsp;{{comment.comments.all|length}}</span></button>
            {% if comment.user == user %}
                <a href="{% url 'comments:delete' comment.id %}" role="button" class="btn btn-danger" data-tooltip="tooltip" title="Delete comment"><span class="glyphicon glyphicon-remove"></span></a>
                <button name="edit-btn" class="btn btn-success" data-toggle="modal" data-target="#edit-modal" data-tooltip="tooltip" title="Edit comment"><span class="glyphicon glyphicon-edit"></span></button>
            {% endif %}
            <button name="reply-btn" class="btn btn-success" data-toggle="modal" data-target="#reply-modal" data-tooltip="tooltip" title="Leave a reply"><span class="glyphicon glyphicon-share"></span></button>
        </td>
    </tr>
    {% for reply in comment.comments.all %}
    <tr name="replies{{comment.id}}" class="reply-row">
        <td name="reply_id" id="{{reply.id}}" style="display:none"></td>
        <td name="reply_content">
            <p><b>Re:</b></p>
            <p name="reply_text">{{reply.text|safe}}</p><br>
            <p class="list-item-description"><img src="{{ reply.user.profile.profile_picture.url }}" class="activityUserImage img-circle"><b>{{reply.user.username}}</b> replied {{reply.date_time|naturaltime}}</p>
        </td>
        {% if comment.user == user %}
        <td>
            <a href="{% url 'comments:delete' reply.id %}" role="button" class="btn btn-danger" data-tooltip="tooltip" title="Delete reply"><span class="glyphicon glyphicon-remove"></span></a>
            <button name="edit-reply-btn" class="btn btn-success" data-toggle="modal" data-target="#edit-modal" data-tooltip="tooltip" title="Edit reply"><span class="glyphicon glyphicon-edit"></span></button>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
</table>


<div id="edit-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:60%">
        <div class="modal-content">
            <div class="modal-header alert-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="model-title" align="center">Edit comment</h4>
                <h6 class="model-title" align="center">Blank comments will not be saved</h6>
            </div>
        <div class="modal-body panel-body-comment">
            <form action = "{% url 'comments:update' %}" method="post" class = "form-horizontal">
                {% csrf_token %}
                <input type="hidden" id="update_comment_id" name="update_comment_id" />
                {% for field in form %}
                <div class = "form-group">
                    <div class="comment-area">{{ field }}</div>
                </div>
                {% endfor %}
                <div class = "form-group">
                    <div class = "div-comment">
                        <button type = "submit" id = "submit-update" name="comment" class="btn btn-success btn-comment">Comment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>

<div id="reply-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:60%">
        <div class="modal-content">
            <div class="modal-header alert-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="model-title" align="center">Write your reply</h4>
                <h6 class="model-title" align="center">Blank replies will not be saved</h6>
            </div>
        <div class="modal-body panel-body-comment">
            <form action = "{% url 'comments:comment' %}" method="post" class = "form-horizontal">
                {% csrf_token %}
                <input type="hidden" id="resource_type" name="resource_type" value="comment" />
                <input type="hidden" id="resource_id" name="resource_id" />
                {% for field in form %}
                <div class = "form-group">
                    <div class="comment-area"> {{ field }}</div>
                </div>
                {% endfor %}
                <div class = "form-group">
                    <div class = "div-comment">
                        <button type = "submit" id = "submit-reply" name="comment" class="btn btn-success btn-comment">Comment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>
