.panel-list {
    width:80%;
    margin: 0 auto;
    min-width: 550px;
}

.panel-body-details {
    padding: 10px 0 10px 0;
}

.tab-pane-details {
    margin-left: 10px;
}

p {
    display: inline;
}

table {
    width: 100%;
}

input[type='text'], select {
    width: 150px;
    box-sizing: border-box;
}

.list-item-title {
    font-weight: bold;
    font-size: 24px;
}

.list-item-subtitle {
    font-size: 16px;
}

.list-item-date {
    font-size: 15px;
    color: #565555;
}

.list-item-description {
    font-size: 15px;
    font-style: italic;
    color: #565555;
}

.panel-before-heading-git {
    background: #DFF0D8;
    border: 1px solid #DFF0D8;
    border-radius: 5px;
}

.project-link {
    font-size: 30px;
}

.btn-table {
    text-align: right;
    float: right;
    padding-bottom: 1%;
    padding-top: 1%;
}

.github-project {
    background: #DFF0D8;
}

.commit-td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50px;
}

.commit-title {
    font-weight: bold;
    font-size: 18px;
}

#selected_branch {
    width: 35%;
    min-width: 200px;
}