<div>
    <table class = "table">
        <tbody>
            <tr>
                <td>
                    <p class = "list-item-title">Edit organization</p></br>
                    <p class = "list-item-description">You can change only organization description</p>
                </td>
                <td><a href = "{% url 'organizations:update' organization.id %}" class="btn btn-success" role="button">Edit</a></td>
            </tr>

            <tr>
                <td>
                    <p class =" list-item-title">Delete organization</p></br>
                    <p class = "list-item-description">Deleting organization causes deleting all projects and everything associated to them.</p>
                </td>
                <td><a href = "{% url 'organizations:delete' organization.id %}" class="btn btn-danger" role="button">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>