{% extends 'base.html' %}


{% block body %}

    <div class="panel panel-success milestone-panel">
        <div class="panel-heading">
            <h1 class="panel-title panel-h1">Confirmation</h1>
        </div>
        <div class="panel-body">
            <form method="post" action="">
                {% csrf_token %}
                <h4>Are you sure you want to delete organization {{ object }}?</h4>
                <p style="color: grey">Projects associated with this organization will be deleted.</p>
                <div align="right">
                    <hr>
                    <button type="submit" class="btn btn-success">Delete</button>
                    <a href="{% url 'organizations:preview' %}" class="btn btn-info" role="button">Cancel</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}