<table class = "table">
    <tbody>
    {% for activity in activities %}
    <tr>
            {% if activity.action == 'opened' %}
                <td class = "col-md-5">
                    <p><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;<img src="{{ activity.user.profile.profile_picture.url }}" class="activityUserImage img-circle"> <b>{{activity.user.username}}</b> opened this milestone on {{ activity.date_time }}</p>
                </td>
            {% elif activity.action == 'closed' %}
                <td class = "col-md-5">
                    <p><span class="glyphicon glyphicon-ok-sign"></span>&nbsp;<img src="{{ activity.user.profile.profile_picture.url }}" class="activityUserImage img-circle"> <b>{{activity.user.username}}</b> closed this milestone on {{ activity.date_time }}</p>
                </td>
            {% elif activity.action == 'reopened' %}
                <td class = "col-md-5">
                    <p><span class="glyphicon glyphicon-repeat"></span>&nbsp;<img src="{{ activity.user.profile.profile_picture.url }}" class="activityUserImage img-circle"> <b>{{activity.user.username}}</b> reopened this milestone on {{ activity.date_time }}</p>
                </td>
            {% elif activity.action == 'updated' %}
                <td class = "col-md-5">
                    <p><span class="glyphicon glyphicon-edit"></span>&nbsp;<img src="{{ activity.user.profile.profile_picture.url }}" class="activityUserImage img-circle">  <b>{{activity.user.username}}</b> updated this milestone on {{ activity.date_time }}</p>
                </td>
            {% elif activity.action == 'added to project' %}
                <td class = "col-md-5">
                    <p><span class="glyphicon glyphicon-briefcase"></span>&nbsp;<img src="{{ activity.user.profile.profile_picture.url }}" class="activityUserImage img-circle">  <b>{{activity.user.username}}</b> added this milestone to project <a href = "{% url 'projects:detail' activity.content_object.project.id %}">{{ activity.content_object.project.name }}</a> on {{ activity.date_time }}</p>
                </td>
        {%  endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>