<table class = "table">
    <tbody>
    {% for milestone in milestones %}
    <tr>
        <td>
            <p class="search-item-title"><a href="{% url 'milestones:detail' milestone.id %}">{{ milestone.name }}</a></p></br>
            <p class="search-item-subtitle"><span class="glyphicon glyphicon-briefcase"></span> {{milestone.project.name}}</p></br>
            <p class="search-item-description">{{ milestone.description }}</p></br>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>