{% extends 'core/base.html' %}

{% block title %}Change password{% endblock %}

{% block body %}
<h2>Change password</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}
          {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Save changes</button>
  </form>
    {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
    <stong>{{ message }}</stong>
  </div>
{% endfor %}
{% endblock %}