<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="{% static 'core/style.css' %}" rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>

</head>
<body>

<div align="right">
    <label>New to ProTrack?</label>
    <a href = "{% url 'core:registration' %}" class="animated btn btn-success">Sign up</a>
</div>
<h2>Sign in</h2>
<div class="login">
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
      </p>
    {% endfor %}
    <button class="animated" type="submit">Sign in</button>
  </form>
    <div class = "error">
    {{ error_message }}
    </div>
</div>
</body>
</html>