<table class = "table">
    <tbody>
    {% for user in users %}
    <tr>
        <td class = "col-md-5">
            <img src="{{ user.profile.profile_picture.url }}" class="special-img img-circle"> &nbsp;&nbsp;
            <p class="list-item-title">{{ user.username }}</p>&nbsp;</br>
        </td>
        <td class = "col-md-3" align="center">
            {% if user.id != organization.owner.id %}
                <a href = "{% url 'organizations:remove_from_org' id_org=organization.id id_mem=user.id %}">Remove from organization</a></br>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>