body {
    background: white url("images/it3-15.jpg");
}

.navbar-brand {
    font-family: 'Sofia', cursive;
    font-size: 14px;
    font-weight: bold;
}

.navbar {
    border-radius: 0;
}

.panel-h1{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.panel-hr {
    border-width:1px;
    border-color: darkgray;
    /*border-color: #428bca;*/
}

.milestone-panel {
    width: 50%;
    margin: 0 auto;
    min-width: 550px;
}

.milestone-form {
    display: block;
    text-align: center;
}
