body {
    background: white url("images/it3-15.jpg");
}

.navbar-brand {
    font-family: 'Sofia', cursive;
    font-size: 14px;
    font-weight: bold;
}

.navbar {
    border-radius: 0;
}

.special-img {
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
    height: 30px;
    width: 30px;
}

.profile-img {
    padding-top: 0px;
    padding-bottom: 0px;

}

.error {
  color: red;
}

.right {
    text-align: right;
    float: right;
}

.alert {
    width:30%;
}

.inlineDivs {
    width: 25%;
    float:left;
    display: inline;
}

.profileImage {
    height: 130px;
    width: 130px;
}

.panel-h1{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.panel-hr {
    border-width:1px;
    border-color: darkgray;
    /*border-color: #428bca;*/
}

.milestone-panel {
    width: 50%;
    margin: 0 auto;
    min-width: 550px;
}

.milestone-form {
    display: block;
    text-align: center;
}
