<div class="panel panel-success">

    <div class="panel-heading">
        <ul class = "nav nav-tabs" id = "milestoneTab">
            <li class = "active"><a data-toggle ="tab" href = "#m-open">Open <span class = "badge">{{open_milestones.count}}</span></a></li>
            <li><a data-toggle ="tab" href = "#m-closed">Closed <span class = "badge">{{closed_milestones.count}}</span></a></li>
            <li><a data-toggle ="tab" href = "#m-all">All <span class = "badge">{{all_milestones.count}}</span></a></li>
        </ul>
    </div>

    <div class="panel-body">
        <div id = "milestone-content" class = "tab-content">

            <div class = "tab-pane active" id = "m-open">
                {% with open_milestones as milestones %}
                {% include 'milestones/milestone_table.html' %}
                {% endwith %}
            </div>

            <div class = "tab-pane" id="m-closed">
                {% with closed_milestones as milestones %}
                {% include 'milestones/milestone_table.html' %}
                {% endwith %}
            </div>

            <div class = "tab-pane" id="m-all">
                {% with all_milestones as milestones %}
                {% include 'milestones/milestone_table.html' %}
                {% endwith %}
            </div>

        </div>
    </div>
</div>
