<div class = "btn-table right">
    <a href="{% url 'projects:create' %}" class="btn btn-success"><span class = "glyphicon glyphicon-plus"></span>New project</a></br>
</div>
<table class = "table">
    <tbody>
        {% for project in projects %}
            {% if project.git_name == None %}
            <tr>
            {% else %}
            <tr class="github-project">
            {% endif %}
                <td>
                    <p class = "list-item-title">{{project.name}}</p>&nbsp;&nbsp;
                    <p><span class = "glyphicon glyphicon-star"></span>{{project.num_of_stars}}</p>&nbsp;</br>
                    {% if tab != 'o' and  project.owner != None %}
                    <p class = "list-item-subtitle"><span class = "glyphicon glyphicon-user"></span> Owner: {{project.owner}}</p></br>
                    {% elif tab != 'o' and  project.organization_owner != None %}
                    <p class = "list-item-subtitle"><span class = "glyphicon glyphicon-user"></span> Owner: {{project.organization_owner}}</p></br>
                    {% endif %}
                    <p class = "list-item-date"><span class = "glyphicon glyphicon-calendar"></span> Created: {{project.created|date:"SHORT_DATE_FORMAT"}}</p></br>
                    <p class = "list-item-description">{{project.description}}</p>
                </td>
                <td align = "center">
                    <a href = "{% url 'projects:detail' project.id %}">Details</a></br>
                    <a href = "{% url 'projects:update' project.id %}">Edit</a></br>
                    <a href = "{% url 'projects:delete' project.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
