{% extends 'base.html' %}

{% block body%}
    <div class = "panel panel-success milestone-panel">
        <div class = "panel-heading">
            <h1 class = "panel-title panel-h1">Confirmation</h1>
        </div>
        <div class = "panel-body">
            <form method = "post" action = "">
                {% csrf_token %}
                <h4>Are you sure you want to delete project {{ object }}?</h4>
                <p style = "color: gray">Files, milestones and issues associated with this project will be deleted. Once you delete a project you cannot revert it.</p>
                <div align="right">
                    <hr>
                    <button type = "submit" class = "btn btn-success">Delete</button>
                    <a href = "{% url 'projects:preview' %}" class = "btn btn-info" role = "button">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}